.skills {
  background: var(--light-tertiary-color);
  scroll-margin-top: 15rem;
}

.skills .skills_content {
  padding: 6rem 4rem;
  text-align: center;
}

.skills .skills_content .description {
  max-width: 56rem;
  margin: 0 auto 6rem;
}

.skills .skills_content ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
}

.skills .skills_content ul li:hover {
  transition: .2s;
  transform: scale(1.2);
}

.skills .skills_content ul li .image-container {
  background-color: var(--white);
  padding: 1rem;
  width: 7rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.1);
  margin: 0 auto;
}

.skills .skills_content ul li h3 {
font-size: 2rem;
font-weight: 500;
margin: 2rem 0 1rem;
}

@media (max-width: 768px) {
  .skills_geral li h3 {
    display: none;
  }
  
}